$px:0.0133333333333333;
:local(.yfz-main) {
  background:#F96160;
  padding-bottom:$px*80rem;
  height:100%;
  > h4{
    width:100%;
    text-align:center;
    height:$px*90rem;
    line-height:$px*90rem;
    font-size:$px*36rem;
    font-weight:400;
    color:#FFF;
  }
  > img {
    width:100%;
  }
  .txt{
    width:$px*612rem;
    height:$px*172rem;
    background:url('../images/share/bag_txt.png') no-repeat;
    background-size:$px*612rem $px*172rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    
    li{
      color:#000;
      font-size:$px*24rem;
      line-height:$px*42rem;
      margin-left:$px*145rem;
    }
  }
  .btn-max{
    width:$px*610rem;
    margin-top:$px*60rem;
    font-weight:700;
    
  }
}

:local(.imgGroup){
  display:flex;
  justify-content: space-around;
  margin-top:$px*35rem;
  >li{
    overflow:hidden;
    img{
      display:block;
      width:$px*282rem;
      height:$px*388rem;
      
    }
  }
}

:local(.gotBagImg){
  text-align:center;
  margin-top:$px*50rem;
  img{

    width:$px*600rem;
    height:$px*90rem;
  }
  
}