$ph:0.0185185185185185;
$px:0.0133333333333333;





:local(.banner){
  position:relative;
  img{
    width:100%;
    display:block;
  }
  div{
    position: absolute;
    height:$px*56rem;
    line-height:$px*56rem;
    left:0;
    right:0;
    top:$px*26rem;
    display:flex;
    justify-content: space-between;
    span{
      color:#FFF;
      background-color:rgba(0,0,0,0.6);
      padding:0 $px*30rem 0 $px*14rem;
      font-size:$px*22rem;
      border-radius:0 20px 20px 0;
    }
    a{
      position:absolute;
      right:$px*20rem;
      font-size:$px*22rem;
      color:#f9edad;
    }
  }
  >span{
    position: absolute;
    bottom:$px*35rem;
    text-align:center;
    left:0;
    right:0;
    color:#f9edad;
    font-size:$px*28rem;
  }
}




:local(.yfz-main){
  background-color:#F45429;
  padding-bottom:$px*160rem;
  >h4{
    font-size: $px*32rem;
    color:#fdf5bf;
    text-align:center;
    font-weight:500;
    margin-top:$px*44rem;
    margin-bottom:$px*30rem;
    
  }
  .inviter-list{
    background-color:#FFF;
    border-radius:$px*6rem;
    margin:0 $px*30rem;
    h4,li{
      font-size:$px*24rem;
      font-weight: 500;
      height:$px*100rem;
      line-height:$px*100rem;
      padding:0 $px*25rem;
      border-bottom:1px solid #E8E8E8;
      vertical-align: middle;
      
    }
    ul{
      padding-bottom:$px*75rem;
    }
    li{
      vertical-align: middle;
      *{
        float:left;
      }
      .tel{
        font-size:$px*28rem;
        margin-right:$px*70rem
      }
      button,div.c-red{
        float:right;
        font-weight:500;
        
        
      }
      button{
        margin-top:$px*20rem;
      }
    
    }
  }
  .share-btn{
    height:$px*120rem;
    line-height:$px*120rem;
    background:#FFF;
    display: flex;
    justify-content: space-around;
    font-size:$px*30rem;
    position: fixed;
    bottom:0;
    left:0;
    right:0;
    border-top:1px solid #E8E8E8;
    li {
      
      background:url("../images/share/icon_wb.png") no-repeat 0 $px*35rem;
      padding-left:$px*60rem;
      background-size:$px*49rem $px*49rem;
      &:first-child{
        background-image:url("../images/share/icon_wx.png")
      }
    }
  }
  
}


