$px:1/75;
$px30:$px*30rem;

:local(.yfz-from){
    background-color:#db2a24;
    padding-bottom:100px;
    .top-title{
        position: relative;
        >img{
            width:100%;
        }
        .title{
            position: absolute;
            background:#f64442;
            top:$px*40rem;
            left:0;
            right:0;
            text-align:center;
            color:#FFF;
            font-size:$px*28rem;
            img{
                width:$px*110rem;
                height:$px*110rem;
                display:block;
                margin:0 auto;
            }
            span{
                b{
                    font-size:$px*36rem;
                    font-weight:500;
                }
                margin-top:$px*15rem;
                display:block;
            }
        }
    }
    :local(.input-box){
        margin:0 $px*32rem;
        background-color:#FFFBDC;
        border-radius:$px*10rem;
        padding-bottom:$px*40rem;        
        

        img{
            width:100%;
            display:block;
            //border-radius:$px*10rem;
        }
        input[type="text"]{
            display:block;
            margin:$px*76rem auto;
            width:$px*600rem;
            height:$px*100rem;
            font-size:$px*36rem;
            text-align:center;
            color:#333;
            background-color:#FFEBCE;
        }
        input::-webkit-input-placeholder{
            color:#c6c8d5;
        }
    }
}


:local(.yfz-download){
    background-color:#FFEACE;
    padding-bottom:$px*100rem;
    .top{
        background:linear-gradient(to right,#FF323A,#FF2936);
        width:100%;
        height:$px*280rem;
        border-radius:0 0 40% 40%;
        text-align:center;
        color:#FFFBDC;
        h4{
            font-size:$px*40rem;
            padding-top:$px*70rem;
        }
        .tel{
            font-size:$px*28rem;
            margin-top:$px*30rem;
            a{
                color:#FFFBDC;
                margin-left:5px;
            }
        }
    }
    ul{
        margin:$px*30rem;
    }
    li{
        display:flex;
        justify-content: space-between;
        font-size:$px*28rem;
        height:$px*120rem;
        line-height:$px*120rem;
        background:#FFFBDC;
        margin-bottom:$px*30rem;
        padding:0 $px*32rem;
        color:#2B2722;
        border-radius:5px;
        align-items: center;
        button{
            width:$px*128rem;
            height:$px*48rem;
            line-height:$px*52rem;
            background-color:#FF2734;
            color:#FFD8BE;
            border-radius:$px*28rem;
        }
        button:hover{
            opacity: 0.8;
            color:#FFF;
        }
    }
    .btn{
        display:flex;
        justify-content: center;
        padding:$px*30rem 0;
        >button{
            width:$px*690rem;
            height:$px*100rem;
            background:#FF2634;
            color:#FFFBDC;
            font-size:$px*32rem;
            display:flex;
            justify-content: center;
            align-items: center;
            img{
                width:$px*60rem;
                height:$px*60rem;
                margin-right:$px*15rem;
            }
        }
    }
}
